._bmark ::-webkit-scrollbar{-webkit-appearance:none;}
._bmark ::-webkit-scrollbar:vertical{width:10px;}
._bmark ::-webkit-scrollbar:horizontal{height:10px;}
._bmark ::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.5);border:2px solid #757575;}
._bmark ::-webkit-scrollbar-track{background-color:#757575;}
._bmark ::-webkit-input-placeholder{color:#757575;}
._bmark ::placeholder{color:#757575;}
._bmark a,._bmark a:hover,._bmark a:visited{color:#ddd;text-shadow:none;}

._bmark .db_100{width:100%;}
._bmark .db_50{width:50%;}

.bmark_db{position:fixed;top:0;bottom:0;left:0;width:350px;padding:10px;/*flex-direction:column;*/background:#17151b;color:#ddd;border-right:1px solid #333;}
.bmark_db.db_shide{left:-350px;}
._bmark ._db{background:#252428;color:#ddd;padding:4px 8px;margin:4px;font:14px Arial;text-transform:initial;cursor:pointer;outline:0 !important;border:1px solid #3e3949;}

._bmark svg{width:1em;height:1em;}
._bmark ul{padding:0;margin:0;list-style:none;}
._bmark input[type="text"],._bmark input[type="search"]{display:initial;cursor:text;height:auto;background:#252428 !important;color:#ddd !important;border:1px solid #3e3949;}
._bmark input[type="text"],._bmark input[type="search"]:hover{border-color:#3e3949;}
._bmark label [type="radio"],._bmark label [type="checkbox"]{display:initial;margin:-2px 6px 0 0;vertical-align:middle;}
._bmark input[readonly]{cursor:default;background:#333 !important;}
._bmark select{-webkit-appearance:menulist-button;color:#ddd;}
._bmark select:invalid{color:#757575;}
._bmark select option{color:#ddd;}

.bmark_db .db_line{margin-bottom:10px;padding-bottom:10px;border-bottom:5px solid #333;}
.bmark_db .db_line_top{margin-top:10px;padding-top:10px;border-top:5px solid #333;}
.bmark_db .db_space{margin:10px 0;}
.bmark_db .db_text{padding:4px 8px;margin:4px;color:#ddd;}
.bmark_db .db_border{padding:1px 6px;border:1px solid #ddd;}
._bmark .db_btn_radio input[type="radio"]{display:none;}
._bmark .db_btn_radio input[type="radio"]+label:before{content:none;}
._bmark .db_btn_radio input[type="radio"]:checked+label,._bmark .db_selected,._bmark:not(.db_mobile) button:not(.db_no_hover):hover{background:#4267b2;border-color:#4267b2;}
._bmark .db_active{background:#238636;border-color:#238636;}
._bmark .db_danger{background:#d7382d;border-color:#d7382d;}

.bmark_db .db_form .db_next{padding:2px 4px;background:transparent;}
.bmark_db .db_notif .fp_content{margin:auto;}

/* #======================================================================================================================================= */

.bmark_db .db_account{position:relative;}
.bmark_db .db_account .db_act_email{position:absolute;top:-35px;right:0;}
.bmark_db .db_account .db_act_out{padding:4px;}
.bmark_db:not(.db_s_shide) .db_bm_show .bm_list{max-height:25vh !important;}
.bmark_db .db_bm_show .bm_similar .bm_main{margin:5px;border:4px solid #4267b2;}
.bmark_db .db_bm_show .bm_similar .bm_main .bm_edit{background:#4267b2;border:0;}
.bmark_db .db_bm_show .bm_list,.bmark_db .db_result .bs_list{overflow-y:auto;}
.bmark_db .db_result li,.bmark_db .db_bm_show li{border-width:1px;}
.bmark_db .db_data .db_s_help_note{padding-bottom:8px;}

/* #======================================================================================================================================= */

.bmark_db .db_toggle{position:absolute;bottom:0;right:-40px;align-items:center;width:40px;height:40px;font-size:30px !important;padding:0;margin:0;line-height:0;}
._bmark .db_bg,._bmark .db_ibg{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.5);}
.bmark_db .db_cover img{max-width:100px;}
.bmark_db .db_radio label,.bmark_db .db_cbox label{display:inline-block;margin:5px 10px 5px 0;}
._bmark ._db[disabled],._bmark ._db[disabled]:hover,._bmark .db_disabled{background:#252428;color:#555;border-color:#252428;cursor:not-allowed;}
.bmark_db.db_s_shide .db_result,.db_hidden{display:none;height:0;width:0;visibility:hidden;position:fixed;margin-left:-9999px;}

/* #======================================================================================================================================= */

.db_mobile .bmark_db{width:80%;}
.db_mobile .bmark_db.db_shide{left:-80%;}
.db_mobile._bmark ._db{font-size:16px;}
.db_mobile._bmark .bmark_db .db_toggle{right:-70px;width:70px;height:70px;background:transparent;color:#fff;border:0;text-shadow:-1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;}
